.links{
  float: left;
  padding: 0 200 0 0;
  border-right: 3px solid black;
  height: 500px;
}

/*.vl {
    border-left: 6px solid black;
    height: 500px;

}*/

.TableIP{
  float: left;
}

.TableDNS{
  float: left;
}
.TableClient{
  float: left;
}
.ButtonScan{
  float: right;
}
.ButtonDownload{
  float: right;
}

table {
  border-collapse:collapse;
}

td {
  border: solid red;
}
