body{
  word-break: break-all;
}

.info{
  float: left;
  padding: 0 200 0 0;
  border-right: 3px solid black;
  height: 500px;
  width: 15%;
}

.tabellen{
  width: 84%;
  float: right;
}

.tablerechts{
  width: 50%;
  float: left;
  margin-top: 1em;
}

.tablelinks{
  width: 50%;
  float: left;
}

table {
  border-collapse:collapse;
}

.table > tbody > tr > td{
  border: solid black;
  width: 100px;
}
